body{

    background-color:rgba(29, 131, 72);
    background-image:url("../images/fondo5.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.card-header{

	background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
    color:#AEE1C3;
    font-weight: bold;
    font-size: 1.3em;
    height: 20vh !important;}

.card{

    background: transparent;
    border-style: none;
    width:25vw;
}

.img-thumbnail{

    width: 25vw;
    height: 34vh;
    background: transparent;
    border-color: transparent;
 
}

.imgNav{

    width: 9vw;
    height: 7vh;
}

.navbar{

    background:#1D8348;
    border:3px solid;
    border-color:#AEE1C3;
    border-radius: 1vw;
}

.nav-item{

    background: #1D8348;

}

.navbar-toggler{

    background:#186D3C;
    border:2px solid;
    border-radius:1vh;
}

.navbar-nav{

  text-align: center; 
}

.nav-link{

    border-radius: 1vh;
    text-align: center;
}

.nav-link:hover{

    color:#339444;
}

@media screen and (min-width:1300px){


    nav{

        width:90vw;
    }
}

@media screen and (max-width:1299px){

    nav{

        width:95vw;
    }
}

.card-body{

    width:80vw;
    height: 37vh;
    background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
    font-size: 2.1rem;
    font-weight: bold;
    color:#AEE1C3;
}

#text{

    border-bottom: 1vh dashed #27AE60;
}

.btn{

    background-color: #27AE60 !important;
    width: 6vw;
    border: 2px solid #E4F5EB !important;
}

.fas{
	
	color: #E4F5EB !important;
}

i{
	
	font-size:1.3em !important;
}

.dropdown-toggle{
	
	color: #E4F5EB !important;
}

.dropdown-menu{
	
	background-color:rgb(29, 131, 72,0.9);
    border:0.3vh solid #AEE1C3;
    border-radius: 1vh;
    color:#AEE1C3;
}

.dropdown-item{
	
	font-weight:bold;
	color:#AEE1C3;
}

.dropdown-item:hover{
	
	background:#AEE1C3;
	color:#27AE60;
}