body{

    background-color:rgba(29, 131, 72);
    background-image:url("../images/fondo5.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	overflow-x:hidden;
}

.card-header{

   background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
    color:#AEE1C3;
    font-weight: bold;
    font-size: 1.3em;
    height: 20vh !important;
}

.card{

    background: transparent;
    border-style: none;
}

.img-thumbnail{

    background: transparent;
    border-color: transparent;
}

.imgNav{

    width: 9vw;
    height: 7vh;
}

.navbar{

    background:#1D8348;
    border:3px solid;
    border-color:#AEE1C3;
    border-radius: 1vw;
}

.nav-item{

    background: #1D8348;

}

.navbar-toggler{

    background:#186D3C;
    border:2px solid;
    border-radius:1vh;
}

.navbar-nav{

  text-align: center; 
}

.nav-link{

    border-radius: 1vh;
    text-align: center;
}

.nav-link:hover{

    color:#339444;
}

@media screen and (min-width:1300px){


    nav{

        width:90vw;
    }
	
	body{
        height: 100%;
    }
	
	.img-thumbnail{
		
		width:70%;
		height:40%;
	}
}

@media screen and (max-width:1299px){

    nav{

        width:95vw;
    }

    body{
        height: 100%;
    }
	
	.img-thumbnail{
		
		width:80%;
		height:40%;
	}
}

@media screen and (max-width:930px){
	
	.btn{
		
		width:8vw !important;
	}
	
	.img-thumbnail{
		
		width:90%;
		height:50%;
	}
	
}

@media screen and (max-width:630px){
	
	.img-thumbnail{
		
		width:100%;
		height:60%;
	}
	
}

@media screen and (max-width:550px){

    nav{

        width:95vw;
    }

    body{
        height: 100%;
    }
}

.caja{

    background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
}

.tit{

    font-size: 1.3em !important;
    font-weight: bold;
    color:#AEE1C3;
    text-shadow: 1px 1px 0px #27AE60;
}

label{

    color:#AEE1C3 !important;
    font-size: 1.3em !important;
    font-weight: bold;
    text-shadow: 1px 1px 0px #27AE60;
}

.custom-control-label::after{

    border: 2px solid rgb(24, 109, 60,0.7) !important;
}

.nS{
	
	display:none;
}

.sS{
	
	display:block;
}

.media{

    background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
    z-index: 1;
}

.media-body{
	
	border:0.3vh solid rgba(29, 131, 72) !important;
	border-radius:2vh;
	background-image:url("../images/fondo5.png"); 
	background-size: cover;
	color: #AEE1C3;
}

.test{
	
    border:0.3vh solid #AEE1C3;
    border-radius: 3vh;
}

.co1{
	
	background-color:rgb(39, 174, 96,0.5);
}

.co2{
	
	background-color:#186D3C;
}

#card{

    background-color:rgb(29, 131, 72,0.9);
    border:1vh solid #AEE1C3;
    border-radius: 1vh;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color:#AEE1C3;
    
}

.imag{
	
	border:0.5vh solid #AEE1C3;
	border-radius:2vh;	
}

.card-body{

    border-top:2px solid #AEE1C3;
    display: flex;
    justify-content: center;
}

.nombre{

    color:#186D3C !important;
    font-size: 1.3em !important;
    font-weight: bold;
    text-shadow: 1px 1px 0px #AEE1C3;
}

#adoptar{

    border:0.5vh solid #AEE1C3;
    background:#27AE60;
    color:#AEE1C3;
}

#adoptar:hover{

    background: #186D3C;
    color:#AEE1C3;
}

.err{
	
	color:#A81A1A;
    font-weight: bold;
	display:none;
}

.btn{

    background-color: #27AE60 !important;
    width: 6vw;
    border: 2px solid #E4F5EB !important;
}

.boton{
	
	background-color: #AEE1C3 !important;
    width: 10vw;
    border: 2px solid rgb(29, 131, 72,0.9);
	color:#1d8348 !important;
    font-size: 1em;
	cursor: pointer;
}

.fas{
	
	color: #E4F5EB !important;
}

i{
	
	font-size:1.3em !important;
}

.dropdown-toggle{
	
	color: #E4F5EB !important;
}

.dropdown-menu{
	
	background-color:rgb(29, 131, 72,0.9);
    border:0.3vh solid #AEE1C3;
    border-radius: 1vh;
    color:#AEE1C3;
}

.dropdown-item{
	
	font-weight:bold;
	color:#AEE1C3;
}

.dropdown-item:hover{
	
	background:#AEE1C3;
	color:#27AE60;
}

@media screen and (max-width:800px){

	.caja{
		
		height:49vh !important;
	}
	
	.imag{
		
		height:15.3vh !important;
		width:15.3vw !important;
	}
	
	.boton{
		
		width:12vw !important;
	}
	
}

.modal-content{
	
	background-color:rgb(29, 131, 72,0.9) !important;
}

.botonPUP{
	
	width:10vw !important;
	font-size:1em !important;
	color:#AEE1C3;
	font-weight:bold;
	cursor:pointer;
}

.botonPUP:hover{
	
	background:#186D3C !important;
	color:#AEE1C3;
}

.modal-body{
	
	font-size:1.3em !important;
	color:#AEE1C3;
	font-weight:bold;
}

.modal-title{
	
	color:#AEE1C3;
}

.close{
	
	color:#AEE1C3 !important;
}

input:valid{
	
	border:2px solid #AEE1C3;
}

input:invalid{
	
	border:2px solid #A81A1A;
}
